@import "~bootstrap/dist/css/bootstrap.css";


a {
    background-color: lightblue;
    border-radius: 2px;
    padding: 3rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: auto;
    color: #fff;
    text-align: center;
    width: 100%;
    min-width: 200px;
    margin: .10rem auto;
    box-sizing: border-box;
    border-radius: 50px;
    
  
    /* flexbox */
    order: 0;
    flex: 0 1 auto;

  }
  
  @media (min-width: 600px) {
    a {
      width: 18%;
      box-sizing: content-box;
    }
  }
  
  a:hover {
    background-color: orange;
  }

