body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    padding: 2rem;
}

.form-group{
    padding: 1rem;
    background-color: white;
}

form{
    border: 3px solid #f1f1f1; 
    padding: 16px;
    background-color: white;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

button{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    
}

button:hover{
    opacity: 0.8;
}

a{
    padding-left: .6rem;
}

h1{
    padding: .5rem;
    background-color: white;
}