<div>
<input #searchBox id="search-box" (input)="filter(searchBox.value)" placeholder="Search..."/>

</div>

<div>
    <h2>Matches :</h2>

    <ul class="search-result">
        <li *ngFor="let UserTemplate of filteredArray" >
          <a routerLink="/my_calendars/{{UserTemplate.id}}">
            {{UserTemplate.username}}
          </a>
          </li>
    </ul>
</div>




<div id = "search">
    <h2>All Users :</h2>

    <div *ngFor = 'let UserTemplate of userArray'>

        <div>
            
        <p>{{UserTemplate.fname}} <br> {{UserTemplate.lname}} <br> {{UserTemplate.username}} </p> 
            <br>

        </div>

    </div>

</div>