<div>
<input #searchBox id="search-box" (input)="filter(searchBox.value)" placeholder="Search..."/>
<button (click) = "onSubmit(searchBox.value)">Submit</button>
</div>

<div>
    <h2>Matches :</h2>

   <ul>
        <li *ngFor="let number of coolArray" > {{number}}</li>
    </ul>



</div>

<span class = "test" *ngFor="let number of coolArray">
   <p> {{ number}} </p>
  </span>




<div id = "search">
    <h2>All Users :</h2>

    <div *ngFor = 'let UserTemplate of userArray'>

        <div>
            
        <p>{{UserTemplate.fname}} <br> {{UserTemplate.lname}} <br> {{UserTemplate.username}} </p> 
            <br>

        </div>

    </div>

</div>