<p>calendar works!</p>


<div class = "buttons">
  <button (click)="onPreviousMonth()"> Previous </button>
  <span> {{ calendarCreator.getMonthName(monthNumber) }} &nbsp; {{ year }} </span>
  <button (click)="onNextMonth()"> Next </button>
</div>

<br>

<div class="calendar">
  <span *ngFor='let weekDay of weekDaysName' class="day">
    {{ weekDay }}
  </span>

  <span *ngFor='let day of monthDays' class="day">
    <div *ngIf = "day.num">
      <button (click)="toggleEdit('notes')">{{ day.num }}</button>
    </div>
  </span>
</div>


<div *ngIf="showNoteEditor">
  <app-notes [inputDay] = "day.num" (output) = "toggleEdit('start')"></app-notes>
  </div>

  <!-- <tr>
    <th *ngFor = "let day of monthDays; let i = index;">
      <div *ngIf = "i < 7">
        <div *ngIf = "day.num">
          <button (click)="onButton()">{{ day.num }}</button>
        </div>
      </div>
    </th>
  </tr>


  <tr *ngFor='let weekDay of weekDaysName'><th>{{ weekDay }}</th> -->
    <!-- (output)="toggleEdit('start')" -->